/* Introduction Navigation
----------------------------------------------------- */
div#intronav {
    background-color: #EAEEF4;
}
div#intronav ul {
    list-style: none;
    border-width: 2px 0px 4px 0px;
    border-style: solid;
    border-color: black;
    margin: 0px;
    padding-left: 15px;
    /* float container stretch, see www.quirksmode.org/css/clearing.html */
    overflow: hidden;
}
div#intronav ul li {
    float: left;
    font-size: 16px;
    font-weight: bold;
}
div#intronav ul li:after {
    content: " |";
}
div#intronav ul li a {
    display: block;
    padding: 4px 8px;
    line-height: 100%;
    float: left;
}
div#intronav ul li a:hover {
    text-decoration: none;
    background-color: black;
    color: #FFF;
}